a {text-decoration: none;}
#smallintro:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline dotted;
}
body {
  background-color: black;
}
a {
color: blue;
}
h4 {
  color: blue;
}
.nav-link {
color: blue;
}
.nav-item {
  color: blue;
}
body nav {
  background-color: black;
}
